:root
{
    --gradient-begin : #7154bf;
    --gradient-end :#94d4ff;
    --bg-color: #10122b;
    --bg-color-2: #3e137e;
    --text-color: #e6f1f4;
}

.wide-section
{
    width: auto;
}

.definition
{
    border: 2px solid var(--gradient-end);
    margin: 30px 15%;
    padding: 10px 10px 2px 10px;
    text-align: justify;
}

.definition img
{
    display: block;
    margin: auto auto 8px auto;
}

.transformations
{
    width: auto;
}

.applet
{
    width: auto;
    text-align: center;
    margin-top: 15px 0;
    border-bottom: 5px solid var(--gradient-end);
}

.applet table
{
    margin: 0 100px;
}

.applet:last-child
{
    border: 0;
}

.applet-info
{
    padding: 0 2em 3em 2em;
    width: 100%;
    vertical-align: top;
    font-size: 19px;
    vertical-align: middle;
    text-align: justify;
}

.applet-info p:first-child
{
    font-weight: bold;
}

@media screen and (max-device-width:600px)
{
    .wide-section
    {
        width: 100%;
    }

    .applet td
    {
        display: block;
    }

    .applet-info
    {
        text-align: center;
        font-size: 30px;
        width: auto;
    }

    .applet-info img
    {
        width: 30%;
    }
}