:root
{
    --gradient-begin : #7154bf;
    --gradient-end :#94d4ff;
    --bg-color: #10122b;
    --bg-color-2: #3e137e;
    --text-color: #e6f1f4fe;
}

::-webkit-scrollbar
{
    width: 10px;
}
  
::-webkit-scrollbar-track
{
    background: var(--bg-color);
}
  
::-webkit-scrollbar-thumb
{
    background: linear-gradient(var(--gradient-begin), var(--gradient-end));
    border-radius: 15px;
}
  
::-webkit-scrollbar-thumb:hover
{
    background: var(--gradient-begin);
}

body
{
    margin: 120px 0 0 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: "Lato", sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}


header
{
    padding: 8px 0;
    box-sizing: border-box;
    background: var(--bg-color-2);
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: 5px solid #86b3c0fe;
}

h1
{
    margin: 0 0 10px 0;
    font-size: 50px;
    color: var(--gradient-end);
    background-clip: text;
    font-weight: bold;
    text-align: center;
}

.title
{
    margin: 0 0 10px 0;
    font-size: 50px;
    background: linear-gradient(90deg, var(--gradient-end) 50%, #de66e8);
    color: transparent;
    background-clip: text;
    font-weight: bold;
    text-align: center;
}

.description
{
    font-size: 18px;
    text-align: justify;
    margin: 10px 8%;
}


footer
{
    background-color: var(--bg-color-2);
}

footer p:first-child
{
    margin-top: 1.5em;
}

footer p
{
    text-align: center;
    font-style: italic;
    font-size: 14px;
    margin: 0.5em 0;
}

@media only screen and (max-device-width:600px)
{
    .description
    {
        font-size: 12px;
    }
}